@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Noto+Sans:wght@200&family=Ubuntu+Condensed&display=swap');
/*  
font-family: 'Comfortaa', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Ubuntu Condensed', sans-serif;
  */

body {
    background-color: black;
    margin: 0;
    overflow: hidden;
}

#video {
    z-index: 0;
}

#video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.videoOverlay {
    background-color: black;
    opacity: 10%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

#logoImg {
    z-index: 2;
    margin-top: 10%;
}

.navbar {
    margin-top: 2%;
    font-family: 'Comfortaa', cursive;
    text-decoration: none;
    font-size: x-large;
    z-index: 2;
}

#logoText {
    font-family: 'Comfortaa', cursive;
    font-size: x-large;
    z-index: 3;
    color: white;
    margin-bottom: 15%;
    text-decoration: underline;
}

#contentBox {
    background-color: white;
    z-index: 4;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    object-fit: cover;
    /* opacity: 95%; */
    border-radius: 10px;
}

#contentContainer {
    font-family: 'Comfortaa', cursive;
    margin-top: 4%;
}

#closeContent {
    margin-top: 3%;
    margin-left: 1%;
}

.hide {
    display: none;
}

.table img {
    height: 30px;
    width: auto;
}

#tableBack {
    background-color: rgb(91, 230, 205, 0.9);
}

#aboutImg {
    width: auto;
    height: 30%;
    margin-top: 40px;
    border-radius: 6px;
}

#mockImg {
    width: auto;
    height: 18%;
    margin-top: 20%;
    border-radius: 6px;

}

.contactTitle {
    margin-top: 8%;
}

.contentText { 
    font-family: 'Noto Sans', sans-serif;
}